
<div class="container">
  <div *ngIf="iPokeApiResponse; else loading">
    <app-paginator
      [iPokeApiResponse]="iPokeApiResponse"
      (urlToCall)="getPage($event)"
    ></app-paginator>
    <div class="row" *ngIf="pokemons.length == 20; else loading">
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let poke of pokemons">
        <img class="img-fluid"
             [src]="poke.isDisplayShiny ? poke.imageShiny : poke.imageDefault"
             (mouseenter)="poke.isDisplayShiny = !poke.isDisplayShiny"
             (mouseleave)="poke.isDisplayShiny = !poke.isDisplayShiny"
        >
        <p class="text-center">
          {{poke.name|titlecase}}
        </p>
      </div>
    </div>
    <app-paginator
      [iPokeApiResponse]="iPokeApiResponse"
      (urlToCall)="getPage($event)"
      class="mb-5"
    ></app-paginator>
  </div>
</div>

<ng-template #loading>
  <p>Ca charge...</p>
</ng-template>
