
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/cours">
      Exemple cours
    </a>
    <a class="navbar-brand" routerLink="/kaamelot">
      Kaamelot
    </a>
    <a class="navbar-brand" routerLink="/yahtzee">
      Yahtzee
    </a>
    <a class="navbar-brand" routerLink="/pokemon">
      Pokémon
    </a>
    <a class="navbar-brand" routerLink="/steamish">
      Steamish
    </a>
    <a class="navbar-brand"
       routerLink="/steamish/publisher/new"
    >
      New Publisher
    </a>
    <a class="navbar-brand" routerLink="/steamish/account/new">
      New account
    </a>
    <a class="navbar-brand router-link" (click)="disconnect()">
      DC
    </a>
  </div>
</nav>
