
<h1>{{ title }}</h1>
<form [formGroup]="formGroupPublisher" class="col-md-6 col-sm-12 mx-auto mt-5">
  <div>
    <input
      class="form-control"
      formControlName="name"
      placeholder="Name"
      [class.is-invalid]="isFieldOnError('name')"
      [class.is-valid]="name.valid"
    >
    <div class="invalid-feedback"
         *ngIf="isFieldOnError('name') && name.errors"
    >
      <div *ngIf="name.errors['required']">
        Le nom est obligatoire
      </div>
    </div>
  </div>
  <div class="my-3">
    <input
      class="form-control"
      formControlName="website"
      placeholder="Website"
      [class.is-invalid]="isFieldOnError('website')"
      [class.is-valid]="website.valid"
    >
    <div class="invalid-feedback"
         *ngIf="isFieldOnError('website') && website.errors"
    >
      <div *ngIf="website.errors['required']">
        Le website est obligatoire
      </div>
      <div *ngIf="website.errors['pattern']">
        Ce n'est pas un website valide
      </div>
      <div *ngIf="website.errors['minlength']">
        Le website doit faire minimum {{ website.errors['minlength'].requiredLength }}
      </div>
    </div>
  </div>
  <div>
    <select
      class="form-select"
      formControlName="country"
    >
      <option [ngValue]="null" disabled>Sélectionnez un pays...</option>
      <option *ngFor="let countryIteration of countries"
              [ngValue]="countryIteration"
      >
        {{countryIteration.nationality}}
      </option>
    </select>
    <div class="invalid-feedback"
         *ngIf="isFieldOnError('country') && country.errors"
    >
      <div *ngIf="country.errors['required']">
        Le pays est obligatoire
      </div>
    </div>
  </div>
  <div *ngIf="error" class="invalid-feedback">
    {{ error }}
  </div>
</form>

<button class="btn btn-primary mt-5 d-flex mx-auto"
        (click)="onSubmit()"
        [disabled]="formGroupPublisher.invalid"
>
  Soumettre
</button>

<button class="btn btn-success mt-5 d-flex mx-auto"
        (click)="testLogin()"
>
  Login
</button>

