
<h1>{{ title }}</h1>
<form [formGroup]="formGroupPublisher" class="col-md-6 col-sm-12 mx-auto mt-5">
  <div>
    <input
      class="form-control"
      formControlName="name"
      placeholder="Name"
      [class.is-invalid]="name.invalid && (name.touched || name.dirty)"
      [class.is-valid]="name.valid"
    >
    <div class="invalid-feedback"
         *ngIf="name.invalid && (name.touched || name.dirty) && name.errors"
    >
      <div *ngIf="name.errors['required']">
        Le nom est obligatoire
      </div>
    </div>
  </div>
  <div class="my-3">
    <input
      class="form-control"
      formControlName="website"
      placeholder="Website"
      [class.is-invalid]="website.invalid && (website.touched || website.dirty)"
      [class.is-valid]="website.valid"
    >
    <div class="invalid-feedback"
         *ngIf="website.invalid && (website.touched || website.dirty) && website.errors"
    >
      <div *ngIf="website.errors['required']">
        Le website est obligatoire
      </div>
      <div *ngIf="website.errors['pattern']">
        Ce n'est pas un website valide
      </div>
    </div>
  </div>
  <div>
    <input
      class="form-control"
      formControlName="country"
      placeholder="Country"
      [class.is-invalid]="country.invalid && (country.touched || country.dirty)"
      [class.is-valid]="country.valid"
    >
    <div class="invalid-feedback"
         *ngIf="website.invalid && (country.touched || country.dirty) && country.errors"
    >
      <div *ngIf="country.errors['required']">
        Le pays est obligatoire
      </div>
    </div>
  </div>
</form>

<button class="btn btn-primary mt-5 d-flex mx-auto" (click)="onSubmit()" [disabled]="formGroupPublisher.invalid">
  Soumettre
</button>

