
<h1>
  {{ title|uppercase }}
</h1>

<button class="btn btn-primary" (click)="calculateAge()" [disabled]="age > 0">
  CLick me !
</button>

<div *ngIf="age > 0; else noAge">
  <ul>
    <li>
      Age pour 1980 :
    </li>
    <li class="age" [class.orange]="age > 30" [class.green]="age <= 30">
      {{ age }}
    </li>
  </ul>
</div>
<div *ngIf="item">
  <ul>
    <li *ngFor="let rank of ranks; let index = index">
      #{{ index + 1 }} : {{ rank }}
    </li>
  </ul>
</div>


<ng-template #noAge>
  <div>
    L'âge va s'afficher ici...
  </div>
</ng-template>

