
.age {

  background-color: darkgrey;
  font-weight: 650;
  font-size: 1.5em;

  &.orange {
    color: orange;
  }

  &.green {
    color: green;
  }

  &:hover {
    cursor: pointer;
  }

}


.compteur {

  color: white;

  &.reset {
    color: black;
    background-color: #ffeb00;
  }

  &.positive {
    background-color: #009c29;
  }

  &.negative {
    background-color: #ab000f;
  }
}

